<html>
    <head>
        <title>Create Account</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}" />
    </head>
    <body>
        <div class = "login_container">
            <div class = "inner_div">
                <h1>Create Account</h1>
            </div>
            {% if error: %}
                <div class = "error">
                    {{ error }}
                </div>
            {% endif %}
            <form action="{{ url_for('create_user') }}" method="POST">
                {{ form.csrf_token }}
                <div class = "inner_div">
                    {{ form.identifier }}
                </div>
                <div class = "inner_div">
                    {{ form.email }}
                </div>
                <div class = "inner_div">
                    {{ form.password }}
                </div>
                <button type = "submit" class = "create_user_button">Create User</button>
            </form>
        </div>
    </body>
</html>